.box{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 2px solid red;
    padding: 5px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    
    
}
.box:hover{
    transform:rotate(45deg);
    transition-duration: 5s;
    transform: scale(4);
    transform: rotate(-45deg);
    transform: skew(45deg);
    transform: translate(100px, 100px);
    

}
.container{
    width: 100vw;
    height: 50vw;
    justify-content: center;
    align-items: center;
    display: flex;


}
 